* {
    box-sizing: border-box;
}

:root {
    --primary-color: #143c3c;
    --header-bg: 152427;
    --weight-btn: 173px;
    --height-btn: 57px;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
